{% extends "registration/base.html" %}
{% load i18n avatar_tags %}

{% load mbdc_extras %}

{% block body %}


<!-- breadcrumb -->
<div class="breadcrumb">
  <span class="breadcrumb_title">You are here:</span>
    <a class="breadcrumb_link" href="/">Home</a>
    <span class="breadcrumb_current">Edit Profile</span>
</div>
<!-- /breadcrumb -->

    
{% get_data_search_bar %}

<!-- site_body -->
<div class="site_body">
  <div class="site_body_pad">
    <div class="generic_block form_wrap">
        <div class="generic_header form_header">

        <h2>Edit your profile</h2>

        <div class="avatar edit">{% avatar user %}</div>
        
        <ul class="avatar_menu">
          <li><a href="{% url avatar_add %}">Add Avatar</a></li>
          <li><a href="{% url avatar_change %}">Change Avatar</a></li>
          <li><a href="{% url avatar_delete %}">Delete Avatar</a></li>
        </ul>

        <div class="clear"></div>

        <div class="form_content">
          <form method="POST" action="">
          {% csrf_token %}
          <fieldset class="form">
            
            <div class="formcell">
              <label for="id_name">Name:</label>
              <input id="id_name" type="text" name="name" value="{{ profile.name }}" maxlength="255" />
              <div class="clear"></div>
            </div>

            <div class="formcell">
              <label for="id_organization">Organization:</label>
              <input id="id_organization" type="text" name="organization" value="{{ profile.organization }}" maxlength="255" />
              <div class="clear"></div>
            </div>

            <div class="formcell">
              <label for="id_position">Position:</label>
              <input id="id_position" type="text" name="position" value="{{ profile.position }}" maxlength="255" />
              <div class="clear"></div>
            </div>

            <div class="formcell">
              <label for="id_voice">Phone:</label>
              <input id="id_voice" type="text" name="voice" value="{{ profile.voice }}" maxlength="255" />
              <div class="clear"></div>
            </div>

            <div class="formcell">
              <label for="id_city">City:</label>
              <input id="id_city" type="text" name="city" value="{{ profile.city }}" maxlength="255" />
              <div class="clear"></div>
            </div>

            <div class="formcell">
              <label for="id_email">Email:</label>
              <input id="id_email" type="text" name="email" value="{{ profile.email }}" maxlength="75" />
              <div class="clear"></div>
            </div>

            <div class="form_submit_wrap">
              <div class="form_submit_pad">
                <input type="submit" value="Submit" />
              </div>
            </div>
          </fieldset>
          <input type="hidden" name="next" value="{% url profiles_edit_profile %}" />
          </form>
        </div>
        

        
      </div>
    </div>
  </div>
</div>
<!-- /site_body -->

{% endblock %}
