{% extends "registration/base.html" %}

{% load avatar_tags %}
{% load mbdc_extras %}


{% block title %}Your Data Community | {{ block.super }}{% endblock %}


{% block body %}


<!-- breadcrumb -->
<div class="breadcrumb">
  <span class="breadcrumb_title">You are here:</span>
    <a class="breadcrumb_link" href="/">Home</a>
    <span class="breadcrumb_current">Profiles</span>
</div>
<!-- /breadcrumb -->

    
{% get_data_search_bar %}

<!-- site_body -->
<div class="site_body">
	<div class="site_body_pad">
		<div class="generic_block form_wrap">
	    	<div class="generic_header">

	    		<h2>Your Data Community</h2>

	    		<ul class="user_list">
				{% for profile in object_list %}
				   {% if profile.user %}
				   
				     <li><a href="{{profile.get_absolute_url}}">{% avatar profile.user 40 %} {{ profile.name }}</a></li>
				   
				    {% endif %}
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- /site_body -->

{% endblock %}
