{% extends "registration/base.html" %}


{% load i18n avatar_tags %}
{% load mbdc_extras %}


{% block body %}


<!-- breadcrumb -->
<div class="breadcrumb">
  <span class="breadcrumb_title">You are here:</span>
    <a class="breadcrumb_link" href="/">Home</a>
    <a class="breadcrumb_link" href="{% url profiles_profile_list %}">Profiles</a>
    <span class="breadcrumb_current">{% if user == profile.user %}Your {% else %}{{ profile.name }}'s{% endif %} Profile</span>
</div>
<!-- /breadcrumb -->

    
{% get_data_search_bar %}


    <!-- site_body -->
    <div class="site_body">
      <div class="site_body_pad">
        <div class="generic_wrap">
          <div class="cols_2cols">
            <div class="col col_1">
              <div class="col_pad">
                
                <!-- section_nav -->
                <div class="section_nav_wrap">
                  <div class="section_nav_header"><div class="avatar">{% avatar profile.user %}</div>{{ profile.name }}</div>
                  <div class="clear"></div>

                  <ul class="section_nav profile">
                    {% if profile.organization %}<li>Organization: {{ profile.organization }}</li>{% endif %}
                    {% if profile.position %}<li>Position: {{ profile.position }}</li>{% endif %}
                    {% if profile.email %}<li>Email: <span class="obfuscate">{{ profile.email|obfuscate }}</span></li>{% endif %}
                    {% if profile.voice %}<li>Phone: {{ profile.voice }}</li>{% endif %}
                    {% if profile.city %}<li>City: {{ profile.city }}</li>{% endif %}
                    {% if user == profile.user %}<li><a href="{% url profiles_edit_profile %}">{% trans "Edit profile information" %}</a></li>{% endif %}
                  </ul>
                  
                </div>
                <!-- /section_nav -->

              </div>
            </div>
            <div class="col col_2">
              <div class="col_pad">
                <div class="page_content user_gallery">

                  {% get_user_gallery request profile.user %}

                </div>
              </div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <!-- /site_body -->


{% endblock %}

