{% load i18n %}

{% load mbdc_extras %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %} {{ SITENAME }} {% endblock %}</title>

<!-- header_include -->
<meta name="description" content="" />
<meta name="keywords" content="" />

<link href="{{ STATIC_URL }}mbdc/css/GlobalStyle.css" rel="stylesheet" type="text/css" />
{% block extra_css %}{% endblock extra_css %}

{% block head_javascript %}

<script language="JavaScript" src="{{ STATIC_URL }}mbdc/js/jquery-library.js" type="text/javascript"></script>
<script language="JavaScript" src="{{ STATIC_URL }}mbdc/js/GlobalJavascript.js" type="text/javascript"></script>
<script type="text/javascript">
  /*
   * Global MBDC object
   */
  var MBDC = {
  	weave_url: "{{ WEAVE_URL }}",
    sessionstate: {},
    swfobject: {
    	vis: {}
    }
  }

</script>

{% endblock head_javascript %}

<!-- /header_include -->

</head>
<body>

<div>
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwULLTE3MzUxODg4NjJkZC+RQ/iduUeEVXQrbsyp5vakCAws" />
</div>


{% get_header_about %}


	<!-- wrapper -->
	<div class="wrapper">
		
<!-- site_head -->
<div id="site_head">
	<div class="site_head_pad">
		<div class="features">
			<div class="search"><span class="search_box"><input type="text" name="gsearch" class="ignore"/></span> <input type="image" src="{{ STATIC_URL }}mbdc/img/Global/header_search.png" /></div>
			<div class="account">
			{% if user.is_authenticated %}
				<a href="{% if user.get_profile %}{{ user.get_profile.get_absolute_url }}{% else %}{% url profiles_create_profile %}{% endif %}">{{ user.username}}</a> {% if user.is_staff %}| <a class="" id="adminLink" href="/admin/">{% trans "Admin" %}</a>{% endif %} | <a href="{% url auth_logout %}">{% trans "Log out" %}</a>
    		{% else %}
				{% if REGISTRATION_OPEN %}Join Our Community, <a href="{% url registration_register %}">Create an Account</a> or {% endif %}<a href="/accounts/login">{% trans "Login" %}</a>
  			{% endif %}
			</div>
			<div class="blog"><a href="http://planning101.mapc.org/">Blog</a></div>
		</div>
		<div class="logo"><a href="{% url geonode.mbdc.views.index %}"><img src="{{ STATIC_URL }}mbdc/img/Global/The-Boston-Indicators-Project.png" border="0" alt="The Boston Indicators Project" width="671" height="95"/></a></div>
		<div class="clear"></div>
	</div>
</div>
<!-- /site_head -->


{% get_header_primarynav %}


{% block body %}{% endblock body %}

	</div>
	<!-- /wrapper -->


{% get_footer %}

<!-- extra_javascript -->
{% block extra_javascript %}<!-- super block -->{% endblock extra_javascript %}
<!-- uservoice -->
<script type="text/javascript">
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/F8MZ3zd4fdsINrXm3AWNqQ.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>
<!-- /extra_javascript -->

</body>
</html>
