{% load i18n %}

{% load mbdc_extras %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %} {{ SITENAME }} {% endblock %}</title>

<!-- header_include -->
<meta name="description" content="" />
<meta name="keywords" content="" />

<link href="{{ STATIC_URL }}mbdc/css/GlobalStyle.css" rel="stylesheet" type="text/css" />
{% block extra_css %}{% endblock extra_css %}
<script language="JavaScript" src="{{ STATIC_URL }}mbdc/js/jquery-library.js" type="text/javascript"></script>
<script language="JavaScript" src="{{ STATIC_URL }}mbdc/js/GlobalJavascript.js" type="text/javascript"></script>
<script type="text/javascript">
  /*
   * Global MBDC object
   */
  var MBDC = {
  	weave_url: "{{ WEAVE_URL }}",
    sessionstate: {}
  }
</script>

<!-- /header_include -->

</head>
<body>

<!-- FIXME: WHY IS THE ENTIRE PAGE WRAPPED IN A FORM TAG -->

<form name="Form1" method="post" action="Home.aspx" id="Form1" class="main_form">
<div>
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwULLTE3MzUxODg4NjJkZC+RQ/iduUeEVXQrbsyp5vakCAws" />
</div>


{% get_header_about %}

	<!-- wrapper -->
	<div class="wrapper">
		
<!-- site_head -->
<div id="site_head">
	<div class="site_head_pad">
		<div class="features">
			<div class="search"><span class="search_box"><input type="text" name="gsearch" class="ignore"/></span> <input type="image" src="{{ STATIC_URL }}mbdc/img/Global/header_search.png" /></div>
			<div class="account">
			{% if user.is_authenticated %}
				<a href="{% if user.get_profile %}{{ user.get_profile.get_absolute_url }}{% else %}{% url profiles_create_profile %}{% endif %}">{{ user.username}}</a> ({% if user.is_staff %}<a class="" id="adminLink" href="/admin/">{% trans "Admin" %}</a> | {% endif %}<a class="" id="profileLink" href="{% url profiles_profile_detail user.username %}">{% trans "Profile" %}</a> | <a href="{% url auth_logout %}">{% trans "Log out" %}</a>)
    		{% else %}
				{% if REGISTRATION_OPEN %}Join Our Community, <a href="{% url registration_register %}">Create an Account</a> or {% endif %}<!-- FIXME: this should be updated to a url var --><a href="/accounts/login">{% trans "Login" %}</a>
  			{% endif %}
			</div>
			<div class="blog"><a href="javascript:;">Blog</a></div>
		</div>
		<div class="logo"><a href="/"><img src="{{ STATIC_URL }}mbdc/img/Global/The-Boston-Indicators-Project.png" border="0" alt="The Boston Indicators Project" width="671" height="95"/></a></div>
		<div class="clear"></div>
	</div>
</div>
<!-- /site_head -->


{% get_header_primarynav %}


{% block body %}{% endblock body %}

	</div>
	<!-- /wrapper -->
	
<!-- site_foot -->
<div id="site_foot">
		<!-- wrapper -->
		<div class="wrapper">
			<!-- sitemap -->
			<div class="sitemap">
				<div class="sitemap_cols">
					<div class="sitemap_col first">
						<div class="sitemap_col_pad">
							<ul>
								<li><a href="javascript:;">About MBDC</a>
									<ul>
										<li><a href="javascript:;">What is the MBDC</a></li>
										<li><a href="javascript:;">link</a></li>
										<li><a href="javascript:;">link</a></li>
										<li><a href="javascript:;">link</a></li>
										<li><a href="javascript:;">link</a></li>
										<li><a href="javascript:;">link</a></li>
									</ul>
								</li>
							</ul>
							
							<!-- site_foot_social -->
							<div class="site_foot_social">
								<a href="javascript:;" class="twitter"></a>
								<a href="javascript:;" class="facebook"></a>
								<a href="javascript:;" class="linkedin"></a>
							</div>
							<!-- /site_foot_social -->
						</div>
					</div>
					<div class="sitemap_col second">
						<div class="sitemap_col_pad">
							<ul>
								<li><a href="javascript:;">Find Data</a>
									<div class="second_cols">
										<div class="second_col">
											<div class="second_col_pad">
												<div class="second_col_title">By Topic:</div>
												<ul>
													<li><a href="javascript:;">link</a></li>
													<li><a href="javascript:;">link</a></li>
													<li><a href="javascript:;">link</a></li>
													<li><a href="javascript:;">link</a></li>
													<li><a href="javascript:;">link</a></li>
													<li><a href="javascript:;">link</a></li>
													<li><a href="javascript:;">link</a></li>
													<li><a href="javascript:;">link</a></li>
													<li><a href="javascript:;">link</a></li>
													<li><a href="javascript:;">link</a></li>
													<li><a href="javascript:;">link</a></li>
													<li><a href="javascript:;">link</a></li>
													<li><a href="javascript:;">link</a></li>
												</ul>
											</div>
										</div>
										<div class="second_col">
											<div class="second_col_pad">
												<div class="second_col_title">By Geographic Data Layer:</div>
												<ul class="complete_index">
													<li><a href="javascript:;">link</a></li>
												</ul>
												<ul>
													<li><a href="javascript:;">link</a></li>
													<li><a href="javascript:;">link</a></li>
													<li><a href="javascript:;">link</a></li>
													<li><a href="javascript:;">link</a></li>
													<li><a href="javascript:;">link</a></li>
													<li><a href="javascript:;">link</a></li>
													<li><a href="javascript:;">link</a></li>
													<li><a href="javascript:;">link</a></li>
													<li><a href="javascript:;">link</a></li>
													<li><a href="javascript:;">link</a></li>
													<li><a href="javascript:;">link</a></li>
													<li><a href="javascript:;">link</a></li>
													<li><a href="javascript:;">link</a></li>
													<li><a href="javascript:;">link</a></li>
													<li><a href="javascript:;">link</a></li>
												</ul> 
											</div>
										</div>
										<div class="clear"></div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="sitemap_col third">
						<div class="sitemap_col_pad">
							<ul>
								<li><a href="javascript:;">City &amp; Town Snapshot</a>
									<ul>
										<li><a href="javascript:;">link</a></li>
										<li><a href="javascript:;">link</a></li>
									</ul>
								</li>
							</ul>
							<ul>
								<li><a href="javascript:;">Do It Yourself</a>
									<ul>
										<li><a href="javascript:;">link</a></li>
									</ul>
								</li>
							</ul>
							<ul>
								<li><a href="javascript:;">Resources</a>
									<ul>
										<li><a href="javascript:;">link</a></li>
										<li><a href="javascript:;">link</a></li>
										<li><a href="javascript:;">link</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
					<div class="sitemap_col fourth">
						<div class="sitemap_col_pad">
							<ul>
								<li><a href="javascript:;">Community</a>
									<ul>
										<li><a href="javascript:;">link</a></li>
										<li><a href="javascript:;">link</a></li>
										<li><a href="javascript:;">link</a></li>
										<li><a href="javascript:;">link</a></li>
										<li><a href="javascript:;">link</a></li>
									</ul>
								</li>
							</ul>
							<ul>
								<li><a href="javascript:;">Blog</a></li>
							</ul>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<!-- /sitemap -->
			<!-- site_foot_content -->
			<div class="site_foot_content">
				<div class="logos">
					<a><img src="http://dummyimage.com/100x55/000/fff" /></a>
					<a><img src="http://dummyimage.com/200x45/000/fff" /></a>
					<a><img src="http://dummyimage.com/128x45/000/fff" /></a>
				</div>
				<div>60 Temple Place Boston, MA 02111   Main Tel: 617-451-2770  |  FAX: 617-451-2770</div>
				<div><a href="javascipt:;">Data Disclaimer</a> | <a href="javascipt:;">Credits</a> | <a href="javascipt:;">Site Map</a></div>
				<div class="clear"></div>
			</div>
			<!-- /site_foot_content -->
		</div>
		<!-- /wrapper -->
</div>
<!-- /site_foot -->

</form>

{% block extra_javascript %}{% endblock extra_javascript %}

</body>
</html>
