{% extends "mbdc/base.html" %}


{% load mbdc_extras %}
{% load pagination_tags %}


{% block extra_javascript %}

{{ block.super }}

<script type="text/javascript">

	jQuery(document).ready(function($) {
		
		// refresh page with new filter parameters
		$("#filter-button").bind("click", function() {
			var query = {
				// "page": 1 // default to page one with new filter
			}
			if ($("#filter-source option:selected").val()) query["datasources"] = $("#filter-source option:selected").val();
			if ($("#filter-topic option:selected").val()) query["topics"] = $("#filter-topic option:selected").val();
			if ($("#filter-user option:selected").val()) query["owner"] = $("#filter-user option:selected").val();
			window.location = "{% url mbdc-gallery %}?" + $.param(query)
			return false;
		});
		// refresh page with new filter parameters
		$("#clear-button").bind("click", function() {
			window.location = "{% url mbdc-gallery %}"
			return false;
		});

	});

</script>

{% endblock extra_javascript %}


{% block body %}

<!-- breadcrumb -->
<div class="breadcrumb">
	<span class="breadcrumb_title">You are here:</span>
    <a class="breadcrumb_link" href="/">Home</a>
    <span class="breadcrumb_current">Explore Data:</span>
    <span class="breadcrumb_current">Visualization Gallery</span>
</div>
<!-- /breadcrumb -->

		
{% get_data_search_bar %}

		
<!-- site_body -->
		<div class="site_body">
			<div class="site_body_pad">
				<!-- page_intro_content -->
				<div class="page_intro_content">
					<div class="page_content_text page_content">
						<h1>Visualization Gallery</h1>
						<p>Explore maps and data visualizations created by DataCommon users.</p> 
					</div>
					<div class="clear"></div>
				</div>
				<!-- /page_intro_content -->
				
				
<!-- results_filter_multiline -->
<div class="results_filter results_filter_multiline">
	<div class="results_filter_pad">
		<div class="results_filter_header">
			<div class="title">Filter Title</div>
			<div class="link"><a href="javascript:;">Need Help?</a></div>
			<div class="clear"></div>
		</div>
		<div class="results_filter_form">
			<div class="results_filter_form_pad">

				<div class="filter_form_field">
					<label for="filter-topic">Topic:</label>
					<select id="filter-topic" class="filter_form_field_topic">
						<option value="" id="All">All</option>
						
						{% for topic in topics %}

						<option value="{{ topic.id }}"{% ifequal topic.id filter_topic.id %} selected="selected"{% endifequal %}>{{ topic.title }}</option>
						
						{% endfor %}
						
					</select>
				</div>

				<div class="filter_form_field">
					<label for="filter-source">Source:</label>
					<select id="filter-source" class="filter_form_field_source">
						<option value="" id="All">All</option>
						
						{% for datasource in datasources %}

						<option value="{{ datasource.id }}"{% ifequal datasource.id filter_source.id %} selected="selected"{% endifequal %}>{{ datasource.title }}</option>
						
						{% endfor %}
						
					</select>
				</div>
								
				<div class="filter_form_field">
					<label for="filter-user">User/Author:</label>
					<select id="filter-user" class="filter_form_field_userauthor">
						<option value="" id="All">All</option>
						
						{% for user in users %}

						<option value="{{ user.id }}"{% ifequal user.id filter_user.id %} selected="selected"{% endifequal %}>{% firstof user.get_profile.name user.username %}</option>
						
						{% endfor %}
						
					</select>
				</div>
				
				<div class="filter_form_btns">
					<input type="submit" class="filter_form_btn_filter" id="filter-button" value="Filter" />
					<input type="reset" class="filter_form_btn_clear" id="clear-button" value="Clear" />
				</div>
				
				<div class="clear"></div>
			</div>
		</div>
		
		{% autopaginate visualizations 8 %}

		<!-- results_pagination -->
		<div class="results_pagination">
			<div class="tags"><span class="tag_title">You are viewing:</span> <span class="tag">{{ filter_topic|default:"All Topics" }} and {{ filter_source|default:"All Sources" }} by {% if filter_user %}{% firstof filter_user.get_profile.name filter_user.username %}{% else %}All Users{% endif %}</span></div>
			<div class="results"><strong>{{ nr_results }}</strong> Results</div>

			{% paginate using 'mbdc/_pagination.html' %}

			<div class="clear"></div>
		</div>
		<!-- /results_pagination -->
		
	</div>
</div>
<!-- /results_filter_multiline -->

				
				
<!-- vis_box_listing -->
<div class="vis_box_listing">
	<div class="vis_box_listing_pad">
		
		{% for visualization in visualizations %}

		<div class="vis_box_item">
			<div class="vis_box_image"><a href="{{ visualization.get_absolute_url }}" title="{{ visualization.title }}"><img src="{{ MEDIA_URL }}weave_thumbnails/{{ visualization.id }}_gallery.png" alt="{{ visualization.title }}" /></a></div>
			<div class="vis_box_title"><a href="{{ visualization.get_absolute_url }}" class="title">{{ visualization.title }}</a>{% if visualization.year %}, <span class="date">{{ visualization.year }}</span>{% endif %}</div>
			<div class="vis_box_abstract">{{ visualization.abstract|truncatewords:8 }}</div>
			<div class="vis_box_author">By <a href="{{ visualization.owner.get_profile.get_absolute_url }}" class="author">{% firstof visualization.owner.get_profile.name visualization.owner.username %}</a></div>
		</div>

		{% endfor %}

		<div class="clear"></div>
	</div>
</div>
<!-- /vis_box_listing -->

				
				
<!-- results_pagination_bottom -->
<div class="results_pagination_bottom">
	<div class="results"><strong>{{ nr_results }}</strong> Results</div>
	{% paginate using 'mbdc/_pagination.html' %}
	<div class="clear"></div>
</div>
<!-- /results_pagination_bottom -->

				
			</div>
		</div>
		<!-- /site_body -->

	
{% endblock body %}

