{% extends "mbdc/base.html" %}

{% load mbdc_extras %}

{% block body %}

        <!-- home_slider -->
    <div class="home_slider">
      <div class="home_slide">

{% for hero_entry in hero_entries %}
  
          <div class="home_slide_box">
          <div class="home_slide_box_img">
            <img src="{{ hero_entry.image.url }}" alt="{{ hero_entry.title }}" width="320" height="220" />
          </div>
          <div class="home_slide_box_content">
            <div class="home_slide_box_content_pad">
              <div class="home_slide_box_nav_title">{{ hero_entry.navtitle }} <span class="home_slide_box_nav_subtitle">{{ hero_entry.navsubtitle }}</span></div>
              <span class="home_slide_box_title">{{ hero_entry.title }}</span>
              <div class="home_slide_box_subtitle">{{ hero_entry.subtitle }}</div>
              <div class="home_slide_box_text page_content">
                {{ hero_entry.content }}
              </div>
            </div>
          </div>
          <div class="clear"></div>
        </div>

{% endfor %}

      </div>
    </div>
    <!-- /home_slider -->
    
{% get_data_search_bar %}

    
    <!-- home_weave -->
    <div class="home_weave">
      <div class="home_weave_pad">
        <!-- home_weave_nav -->
        <div class="home_weave_nav">
          <div class="home_weave_nav_heading">Explore Data by Topics:</div>
          <ul>

            {% for topic in topics %}

            {% if forloop.first %}
            <li class="first">
              <a href="{{ topic.get_absolute_url }}"><span class="topic_icon topic_{{ topic.slug }}"></span>{{ topic.title }}</a>
            </li>
            {% else %}{% if forloop.last %}
            <li class="last">
              <a href="{{ topic.get_absolute_url }}"><span class="topic_icon topic_{{ topic.slug }}"></span>{{ topic.title }}</a>
            </li>
            {% else %}
            <li>
              <a href="{{ topic.get_absolute_url }}"><span class="topic_icon topic_{{ topic.slug }}"></span>{{ topic.title }}</a>
            </li>
            {% endif %}{% endif %}

            {% endfor %}

          </ul>
        </div>
        <!-- /home_weave_nav -->
        <!-- home_weave_content -->
        <div class="home_weave_content">
          <!-- home_weave_intro -->
          <div class="home_weave_intro">
            <h1>Introducing WEAVE...</h1>
            <div class="home_weave_intro_image">
              <img src="{{ STATIC_URL }}mbdc/img/logo-oic.png" alt="OIC" width="130" height="60" />
            </div>
            <div class="home_weave_intro_text page_content">
              A web-based visualization platform designed  to enable visualization of any available data by anyone for any purpose.  WEAVE is in development by the Open Indicators Consortium (OIC) To learn more about WEAVE, check out <a href="http://www.openindicators.org">http://www.openindicators.org</a>.
            </div>
          </div>
          <!-- /home_weave_intro -->
          
          <!-- home_weave_featured -->
          <div class="home_weave_featured">
            <div class="col col_1">
              <div class="home_weave_rotator_wrap">
                <div class="home_weave_rotator_header">
                  <div class="rotator_nav">
                    <a href="javascript:;" class="nav_prev">prev</a>
                    <a href="javascript:;" class="nav_next">next</a>
                  </div>
                  <div class="home_weave_rotator_title">Featured Weave Visualizations</div>
                  <div class="clear"></div>
                </div>
                <div class="home_weave_rotator">
                  
                  <!-- featured data_vis -->

{% for featured in featured_visualizations %}

                  <div class="data_vis">
                    <div class="data_vis_pad">
                      <div class="data_vis_header">
                        <div class="title"><a href="{{ featured.visualization.get_absolute_url }}">{{ featured.visualization.title }}</a></div>
                        <div class="info">By <a href="{{ featured.visualization.owner.get_profile.get_absolute_url }}">{% firstof featured.visualization.owner.get_profile.name featured.visualization.owner.username %}</a></div>
                      </div>

                      <div class="data_vis_tabs ui-tabs ui-widget ui-widget-content ui-corner-all">
                        <div id="featured-{{ featured.visualization.id }}" class="ui-tabs-panel ui-widget-content ui-corner-bottom">



  <object type="application/x-shockwave-flash" data="{{ WEAVE_URL }}weave.swf" id="weave-{{ featured.visualization.id }}" name="weave-{{ featured.visualization.id }}" width="455" height="315">
    <param name="quality" value="high" />
    <param name="bgcolor" value="#ffffff" />
    <param name="allowscriptaccess" value="always" />
    <param name="base" value="{{ WEAVE_URL }}" />
    <param name="wmode" value="transparent" />

      <img src="{{ MEDIA_URL }}weave_thumbnails/{{ featured.visualization.id }}_featured.png" alt="{{ featured.visualization.title }}" class="data_vis_tn">

  </object>







                        </div>
                      </div>

                      <ul class="data_vis_topics">
                        <li><a href="javascript:;"><span class="topic_icon topic_education"></span>Education</a></li>
                      </ul>
                      <div class="data_vis_rating">
                        <div class="comments"><span class="num">15</span>comments</div>
                        <div class="rate">
                          <div class="stars">
                            <a class="star rated"></a>
                            <a class="star rated"></a>
                            <a class="star"></a>
                            <a class="star"></a>
                            <a class="star"></a>
                          </div>
                          (25 people rated this)
                        </div>
                      </div>
                      <div class="clear"></div>
                    </div>
                  </div>

{% endfor %}

                  <!-- /featured data_vis -->

                </div>
                
              </div>
              
            </div>
            <div class="col col_2">
              <div class="home_weave_training">
                <div class="home_weave_training_heading">Do It Yourself, Getting Started...</div>
                <div class="home_weave_training_image">
                  
                  <img src="http://dummyimage.com/253x142/000/fff" />
                  
                </div>
                <div class="home_weave_training_text page_content">
                  <h3>Hands-on Training Available</h3>
                  <p>MetroBoston DataCommon user trainings are held every month at offices of the <a href="javascript:;">Metropolitan Area Planning Council</a> in downtown Boston. Attendees include town planners, government employees, staff from non-profit organizations and private research organizations, and others. Participants receive an orientation to the various components of the website, and complete a hands-on tutorial of the DataMap Tool to create their own customized maps.</p>
                </div>
                <a class="home_weave_training_reg" href="http://mbdc.eventbrite.com" title="Register for MetroBoston DataCommon Hands-on Training in Boston, MA  on Eventbrite">Register for a Training</a>
              </div>
            </div>
            <div class="clear"></div>
          </div>
          <!-- /home_weave_featured -->
        </div>
        <!-- /home_weave_content -->
        <div class="clear"></div>
      </div>
    </div>
    <!-- /home_weave -->
    
    <!-- home_featured_maps -->
    <div class="home_featured_maps">
      <div class="home_featured_maps_pad">
        <div class="home_featured_maps_rotator_wrap">
          <div class="home_featured_maps_heading">
            <span class="home_featured_heading_info">Visit the <a href="javascript:;">Visualization Gallery</a></span>
            <div class="title">Recent Data Visualizations from our Community:</div>
          </div>

          <div class="rotator_nav">
            <a href="javascript:;" class="nav_prev">prev</a>
            <a href="javascript:;" class="nav_next">next</a>
          </div>      

          <ul class="home_featured_maps_rotator" id="FeaturedMapsRotator">
            
{% for visualization in gallery_visualizations %}

            <li class="home_featured_maps_slide">
              <a class="slide_title" href="{{ visualization.get_absolute_url }}">{{ visualization.title }}</a>
              <div class="slide_image">
                <a href="{{ visualization.get_absolute_url }}" title="{{ visualization.title }}"><img src="{{ MEDIA_URL }}weave_thumbnails/{{ visualization.id }}_gallery.png" alt="{{ visualization.title }}" /></a>
              </div>
              <div class="slide_credit">
                By <a href="{{ visualization.owner.get_profile.get_absolute_url }}">{% firstof visualization.owner.get_profile.name visualization.owner.username %}</a>
              </div>
            </li>
            
{% endfor %}
            
          </ul>
          <div class="clear"></div>
        </div>
        
        <div class="home_lastest_data">
          <div class="home_lastest_data_pad">
            <div class="home_lastest_data_heading">Latest Data Sets:</div>
            <div class="home_latest_data_item">
              <span class="topic_icon topic_geographicBoundaries"></span>
              <a class="data_link" href="javascript:;">Population Estimates for the state, counties and municipalities.</a>
              <div class="info">Year(s): 2000  <span class="spacer">&#8226;</span>  Source: <a>Source Title</a></div>
            </div>
            <div class="home_latest_data_item">
              <span class="topic_icon topic_housing"></span>
              <a class="data_link" href="javascript:;">Census Building Permits for Residential, Single Family, and Multi-Family Family Housing.</a>
              <div class="info">Year(s): 2000  <span class="spacer">&#8226;</span>  Source: <a>Source Title</a></div>
            </div>
            <div class="home_latest_data_item">
              <span class="topic_icon topic_publicHealth"></span>
              <a class="data_link" href="javascript:;">Hospitalization Rates for Angina, Asthma, COPD, Diabetes, Heart Failure and Hypertension.</a>
              <div class="info">Year(s): 2000  <span class="spacer">&#8226;</span>  Source: <a>Source Title</a></div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <!-- /home_featured_maps -->

{% endblock body %}


{% block extra_javascript %}

<script type="text/javascript">

  /* 
   * Called when Weave instance is done loading.
   */ 
  var weaveReady = function(weave) { 
    
    var weaveId = weave.attributes['id'].value;
    var visId = weaveId.split("-")[1];

     // load weave session state
    jQuery.getJSON("/visualizations/" + visId + "/sessionstate", function(sessionstate) {
      // update session state
      weave.setSessionState([], sessionstate);
       // session state cosmetics
      weave.setSessionState(['WeaveProperties'], { 
        backgroundColor: "16777215", // white
        dashboardMode: true, 
        enableMenuBar: false,
        enableToolControls: false  
      });

    });

  }

</script>

{% endblock extra_javascript %}