{% extends "mbdc/page_layout.html" %}


{% load i18n avatar_tags %}
{% load mbdc_extras %}


{% block body %}

<!-- breadcrumb -->
<div class="breadcrumb">
  <span class="breadcrumb_title">You are here:</span>
    <a class="breadcrumb_link" href="/">Home</a>
    <a class="breadcrumb_link" href="{% url profiles_profile_list %}">Profiles</a>
    <span class="breadcrumb_current">Change your Avatar</span>
</div>
<!-- /breadcrumb -->

    
{% get_data_search_bar %}


<!-- site_body -->
    <div class="site_body">
      <div class="site_body_pad">

                <div class="generic_block form_wrap">
                  <div class="generic_header form_header">
                    <h2>{% trans "Change your Avatar" %}</h2>
                    <div class="avatar change">{% avatar user %}</div>
                    <div class="clear"></div>
                  </div>
                  
                  <div class="form_content">

                    <form method="POST" action="{% url avatar_change %}">
                    {% csrf_token %}
                   
                      {% if not avatars %}
                        <p>You haven't uploaded an avatar yet. Please <a href="{% url avatar_add %}">upload</a> one now.</p>
                    {% else %}
                        <form method="POST" action="{% url avatar_change %}">
                         <fieldset class="form">
                            <ul class="avatar_choice">
                                {{ primary_avatar_form.as_ul }}
                            </ul>
                            {% csrf_token %}
                            <div class="form_submit_wrap">
                                <div class="form_submit_pad">
                                <input type="submit" value="{% trans "Choose new Default" %}" />
                                </div>
                            </div>
                             </fieldset>
                        </form>
                    {% endif %}
                   
                    
                    </form>
                  </div>
                </div>

</div>
    </div>
    <!-- /site_body -->

{% endblock %}
