{% extends "mbdc/page_layout.html" %}
{% load i18n %}
{% load mbdc_extras %}

{% block body %}

<!-- breadcrumb -->
<div class="breadcrumb">
  <span class="breadcrumb_title">You are here:</span>
    <a class="breadcrumb_link" href="/">Home</a>
    <span class="breadcrumb_current">Error 401 Unauthorized</span>
</div>
<!-- /breadcrumb -->

    
{% get_data_search_bar %}

<!-- site_body -->
<div class="site_body">
  <div class="site_body_pad">
    <div class="generic_block">
        <div class="generic_header">

      <h2> 
        {% if error_title %}
          {{ error_title }}
        {% else %}
          {% trans "Not Permitted" %}
        {% endif %}
      </h2>

    <p>
    {% if error_message %}
      {{ error_message }}
    {% else %}
      {% blocktrans %}
          You are not allowed to perform this operation.  
      {% endblocktrans %}
    {% endif %}
    </p>
    <p>
    {% if not request.user.is_anonymous %}
    {% blocktrans %}Please verify that you are logged in as the correct user.{%endblocktrans%}
    {% else %}
    {% blocktrans %}Please login or register and retry.{% endblocktrans %}
    {% endif %}
    </p>


      </div>
    </div>
  </div>
</div>
<!-- /site_body -->
{% endblock %}
