<org.geoserver.security.config.UsernamePasswordAuthenticationFilterConfig>
  <id>2032ce8d:13c81f40037:-7ffa</id>
  <name>form</name>
  <className>org.geoserver.security.filter.GeoServerUserNamePasswordAuthenticationFilter</className>
  <passwordParameterName>password</passwordParameterName>
  <usernameParameterName>username</usernameParameterName>
</org.geoserver.security.config.UsernamePasswordAuthenticationFilterConfig>