.twitter-link {
  background: url("../img/twitter-16.png") left center no-repeat;
  padding-left: 20px;
}

.facebook-link {
  background: url("../img/facebook-16.png") left center no-repeat;
  padding-left: 20px;
}