{% extends "registration/base.html" %}
{% load i18n %}

{% load mbdc_extras %}

{% block body %}


<!-- breadcrumb -->
<div class="breadcrumb">
  <span class="breadcrumb_title">You are here:</span>
    <a class="breadcrumb_link" href="/">Home</a>
    <span class="breadcrumb_current">Reset password</span>
</div>
<!-- /breadcrumb -->

    
{% get_data_search_bar %}


<!-- site_body -->
    <div class="site_body">
      <div class="site_body_pad">

                <div class="generic_block form_wrap">
                  <div class="generic_header form_header">
                    <h2>Reset your password</h2>
                    <p>Please enter your email-address below. We will send you reset instructions.</p>
                  </div>
                  <div class="form_content">
                    <form method="post" action=".">
                    {% csrf_token %}
                    <fieldset class="form">
                    	<legend class="form_req"><img src="{{ STATIC_URL}}mbdc/img/Global/asterix.gif" /> = Required</legend>

                    	<div class="formcell form_req">	                  	
							<label for="id_old_password">Old password:</label>
							{{ form.old_password }}
							{{ form.old_password.errors }}
							<div class="clear"></div>
						</div>

						<div class="formcell form_req">	                  	
							<label for="id_new_password1">New password:</label>
							{{ form.new_password1 }}
							{{ form.new_password1.errors }}
							<div class="clear"></div>
						</div>

						<div class="formcell form_req">	                  	
							<label for="id_new_password2">New password again:</label>
							{{ form.new_password2 }}
							{{ form.new_password2.errors }}
							<div class="clear"></div>
						</div>

						<div class="form_submit_wrap">
							<div class="form_submit_pad">
								<input type="submit" value="{% trans 'Submit' %}" class="form_submit" />
							</div>
						</div>

                    </fieldset>
                    </form>
                  </div>
                </div>

</div>
    </div>
    <!-- /site_body -->

{% endblock %}

