{% load i18n avatar_tags %}
{% load places_extras %}{% non_place_url_parts as placeless %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>
    {% block head %}
      <link href="{{ STATIC_URL }}libs/bootstrap/css/bootstrap.css" rel="stylesheet"/>
      <link href='{{ STATIC_URL }}geonode/font/lato_font.css' rel='stylesheet' type='text/css' />
      <link href="{{ STATIC_URL }}geonode/css/ext-compatibility.css" rel="stylesheet" />
      <link href="{{ STATIC_URL }}libs/datatables/css/datatables.css" rel="stylesheet" />
      <link href="{{ STATIC_URL }}geonode/css/base.css" rel="stylesheet" />
      <link href="{{ STATIC_URL }}libs/select2/select2.css" rel="stylesheet"/>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="{{ STATIC_URL }}css/geonode.css">
      {% block extra_head %}{% endblock %}
    {% endblock %}
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body class="{% block body_class %}{% endblock %}">
    <div class="topbar">&nbsp;</div>
    {% block header %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="row">
            <div class="span5">
                  <div class="logo"><a href="/">Our <span class="healthy">Healthy</span> Massachusetts</a></div>
            </div>
            <div class="span7">

              <div class="nav-collapse pull-right">
                <div class="pull-right">
                  <ul class="nav pull-right account-bar">
                    {% if user.is_authenticated %}
                      <li class="user-avatar">
                        {% avatar user 20 %}
                      </li>
                      <li class="dropdown user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          {{ user.username }}
                          <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="{% if user.get_profile %}{{ user.get_profile.get_absolute_url }}{% else %}{% url profiles_create_profile %}{% endif %}"><i class="icon-user"></i> {% trans "Profile" %}</a></li>
                          {% if user.is_staff %}
                            <li><a href="{% url admin:index %}"><i class="icon-cog"></i> {% trans "Admin" %}</a></li>
                          {% endif %}
                          {% if user.is_superuser %}
                            <li><a href="{{ GEOSERVER_BASE_URL }}"><i class="icon-globe"></i> {% trans "GeoServer" %}</a></li>
                          {% endif %}
                          <li class="divider"></li>
                          <li><a href="{% url account_logout %}"><i class="icon-off"></i> {% trans "Log out" %}</a></li>
                        </ul>
                      </li>
                    {% else %}
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Sign in" %}</a>
                          <ul class="dropdown-menu">
                            <li>
                                <form action="{% url account_login %}" method="post" class="sign-in">
                                    {% csrf_token %}
                                    <label for="id_username">{% trans "Username" %}:</label>
                                    <input id="id_username" name="username" type="text" />
                                    <label for="id_password">{% trans "Password" %}:</label>
                                    <input id="id_password" name="password" type="password" />
                                    <label class="checkbox">
                                        <input type="checkbox" />
                                        {% trans "Remember Me" %}
                                    </label>
                                    <button type="submit" class="btn pull-right">{% trans "Sign in" %}</button>
                                    <div>{% trans "Don't have an account yet?" %} <a href="{% url account_signup %}">{% trans "Register now" %}</a></div>
                                </form>
                            </li>
                          </ul>
                        </li>
                    {% endif %}
                  </ul>
                </div>
              </div>

              <div class="nav-collapse">
                <ul class="nav masshealth">
                  <li class="town-list"><label>Choose a Town:</label>
                      <select id='town_selector'>
                        <option{% if not place %} SELECTED=SELECTED{% endif %} value="">Select a Town</option>
                        {% places as towns %}
                        {% for town in towns %}<option 
                         {% if place %}{% ifequal place.slug town.0 %} SELECTED=SELECTED{% endifequal %}{% endif %}
                         value="{{ placeless.0 }}{{ town.0 }}{{ placeless.1 }}">{{town.1}}</option>
                        {% endfor %}
                    </select>
                  </li>
                  <li><a class="home" href="/">HOME</a></li>
                  <li><a class="cominfo" href="/place/programs/massachusetts/">COMMUNITY<br>INFORMATION</a></li>
                  <li><a class="maptool" href="/layers/">DATA</a></li>
                  <li><a class="maptool" href="/maps/">MAPS</a></li>
                  <li><a class="about" href="/pages/about/">ABOUT</a></li>
                </ul>
              </div>
              
            </div>
           </div>
        </div>
       </section>
      </div>
    </div>
    {% endblock header %}
    {% block middle %}
    <div class="content-wrap">
        {% if site_wide_announcements %}
            <div id="site_wide_announcements">
                {% for announcement in site_wide_announcements %}
                <div class="alert alert-block">
                    <a type="button" class="close" data-dismiss="alert" href="{% url announcement_hide announcement.pk %}?next={{ request.path }}">×</button>
                    <h4><a href="{{ announcement.get_absolute_url }}">{{ announcement }}</a> -</h4>
                    <div>{{ announcement.content }}</div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="container">
          <div class="row">
            {% block body_outer %}
              <div class="span8">
                {% block body %}{% endblock %}
              </div>
              <div class="span4">
                {% block sidebar %}{% endblock %}
              </div>
            {% endblock %}
          </div>
        </div>
    </div>
    {% endblock middle %}
    {% block footer %}
    <footer class="footer">
      <div class="container">
          
          <div class="footer-text">
            <h5>60 Temple Place Boston, MA 02111 Main Tel: 617-451-2770&nbsp;|&nbsp;FAX: 627-451-2770</h5>
            <a href="/pages/about/">About Healthy Massachusetts</a>&nbsp;|&nbsp;<a href="/about/contact-us/">Contact Us</a>&nbsp;|&nbsp;<a href="/about/legal/#disclaimer">Data Disclaimer</a>&nbsp;|&nbsp;<a href="/about/legal/#terms">Terms of Service</a>&nbsp;|&nbsp;<a href="/about/legal/#privacy">Privacy Policy</a> 
            <div class="footer_socials">
              <a href="https://twitter.com/#!/MAPCMetroBoston" class="twitter">
              <img src="{{ STATIC_URL }}img/twitterx20.jpg" alt="Twitter" /></a>
              <a href="http://www.facebook.com/pages/Metropolitan-Area-Planning-Council-MAPC/127159693987749" class="facebook">
              <img src="{{ STATIC_URL }}img/facebookx21.jpg" alt="Facebook" /></a>
              <a href="http://www.linkedin.com/company/64441" class="linkedin">
              <img src="{{ STATIC_URL }}img/linkinx21.jpg" alt="Linkedin" /></a>
            </div>
          </div>

          <div class="footer-images">
            <img src="{{ STATIC_URL }}img/mapc108x62.png" alt="MAPC" />
            <img src="{{ STATIC_URL }}img/mim38x62.png" alt="Mass In Motion" />
          </div>

          <div class="geonode-credit">
              {% trans "Powered by" %} <a href="http://geonode.org">{% trans "GeoNode" %}</a> <em>{% trans "version" %} {{ VERSION }}</em> |
              <a href="{% url developer %}">{% trans "Developers" %}</a> |
              <a href="{% url about %}">{% trans "About" %}</a>
          </div>


      </div>
    </footer>

    {% endblock footer %}

    <script src="{{ STATIC_URL }}libs/js/jquery-1.8.0.js"></script>
    <script src="{{ STATIC_URL }}libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}libs/datatables/js/jquery.dataTables.min.js"></script>
    <script src="{{ STATIC_URL }}libs/js/hogan.js"></script>
    <script src="{{ STATIC_URL }}libs/js/jquery.timeago.js"></script>
    <script src="{{ STATIC_URL }}libs/js/json2.js"></script>
    <script src="{{ STATIC_URL }}libs/select2/select2.js"></script>
    <script src="{{ STATIC_URL }}geonode/js/utils.js"></script>

    {% block extra_script %}{% endblock extra_script %}

    <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
    <script type="text/javascript" src="{% url lang %}"></script>


<script>
  var $ = jQuery;
    $(function(){
      // bind change event to select
      $('#town_selector').bind('change', function () {
          var url = $(this).val(); // get selected value
          if (url) { // require a URL
              window.location = url; // redirect
          }
          return false;
      });
      $('#town_selector_side').bind('change', function () {
          var url = $(this).val(); // get selected value
          if (url) { // require a URL
              window.location = url; // redirect
          }
          return false;
      });
      
    $("a[href$='.pdf']").addClass("pdf");
   
  });
    
</script>



  </body>
</html>
