{% extends "masshealth/base.html" %}
{% load i18n %}
{% load heroes_extras %}
{% load programs_extras %}

{% block title %} {% trans "Welcome!" %} - {{ block.super }} {% endblock %}

{% block head_javascript %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-plugins.js"></script>
{% endblock %} 

{% block bodyclass %}
<body class="home">
{% endblock %} 

{% block content %} 

<h1 class="home">Mapping data and local actions to create a healthier Massachusetts</h1>

<!-- home_slider -->
{% heroes "homepage" as my_heroes %}




{% if my_heroes.count %}
<div class="home_slider">
  <div class="home_slide">
{% for hero in my_heroes %}

    <div class="home_slide_box">
      <div class="home_slide_box_img">
        <img src="{{ hero.image.url }}" alt="" width="340" height="244" />
      </div>
      <div class="home_slide_box_content">
        <div class="home_slide_box_content_pad">
          <div class="home_slide_box_nav_title">
            
            <div class="home_slide_box_nav_subtitle">
              {{ hero.type }}
            </div>
            
            {{ hero.title }}
          </div>

          <div class="home_slide_box_subtitle">
            {{ hero.type }} 
          </div>
          <h2 class="home_slide_box_title">
            {{ hero.title }} 
          </h2>
          <div class="home_slide_box_text page_content">

              {{ hero.description|safe }}

          </div>
        </div>
      </div>
      <div class="clear">
      </div>
    </div>

  
{% endfor %}
</div>  </div>
{% endif %}
<!-- /home_slider -->



<div class="span12">
{{flatpage.content}}

  
  <div id="mamc_map_container">
    <div id="mamc_map"></div>
  </div>
  <p>Mass in Motion Initiatives. Click on the map to explore health programs underway in Massachusetts.</p>

</div>


{% endblock %}


{% block javascript %}
    {{ block.super }}
    {% include "masshealth/_map_inc.html" %}
    <script type="text/javascript">

      var $ = jQuery;

      $(document).ready(function() {

        // background layers
        var basemap = new L.MAPCTileLayer("basemap");

        var boston = new L.LatLng(42.357778, -71.061667);
        var map = new L.Map("mamc_map",{
            minZoom: 9,
            maxZoom: 17
        })
        .setView(boston, 9)
        .addLayer(basemap);

        // load program locations on map
        $.getJSON("/program/geojson/", function(data) {

          // point style
          var circleStyle = {
            radius: 6,
            fillColor: "#f35a20",
            color: "#fff",
            weight: 1,
            opacity: 0.6,
            fillOpacity: 0.6
          };

          function pointToLayer(feature, latlng) {
            circleStyle.fillColor = feature.properties.point_color;
            return L.circleMarker(latlng, circleStyle)
          }

          function onEachFeature(feature, layer) {
            var popupContent = "<h4>" + feature.properties["title"] + "</h4>";
            if (feature.properties["image_url"]) popupContent += "<p><img src=" + feature.properties["image_url"] + " class=\"map-thumb\" alt=\"" + feature.properties["title"] + "\"></p>";
            if (feature.properties["description"] !== "") popupContent += "<p>" + feature.properties["description"] + "<a href=\"" + feature.properties["absolute_url"] + "\"><br>read more</a></p>";
            layer.bindPopup(popupContent);
          }

          // render GeoJSON layer
          var programLayer = L.geoJson(data, {
            pointToLayer: pointToLayer,
            onEachFeature: onEachFeature
          });
          programLayer.addTo(map);
          map.fitBounds(programLayer.getBounds());
        });
      });

    </script>
{% endblock %}
