{% extends 'masshealth/base.html' %}
{% load markup %}

<title>{% block title %}{{ place.name }} Health Profile{% endblock %}</title>

{% block head_javascript %}

{{ block.super }}

{% include "visualizations/_swfobject.html" %}

<script type="text/javascript">
jQuery(document).ready(function($) {

{% if slots.count %}

    {% for slot in slots %}

        {% if slot.visualization %}

                {% with vis=slot.visualization %}
                // $("#profile-swf-div-{{ forloop.counter0 }}").click(function() {
            	swfobject.embedSWF(
            	  "{{ WEAVE_URL }}weave.swf", 
            	  "profile-swf-div-{{ forloop.counter0 }}", 
            	  {{ slot.width }}, {{ slot.height }}, 
            	  "10.0.0",
            	  "expressInstall.swf", 
            	  {
            		    file: "http://{{ current_site.domain }}{% url visualizations.views.visualization_xml vis.id place.id %}"
            	      }, 
            	  HEMA.swfobject.params,
            	  {
            	    id: "profile-swf-div-{{ forloop.counter0 }}",
            	    name: "profile-swf-div-{{ forloop.counter0 }}"
            	  }
            	);
                // });
                {% endwith %}

        {% endif %}

    {% endfor %}

{% endif %}

    // Flash available
    if (swfobject.getFlashPlayerVersion()["major"] > 0) {
        $("body").addClass("flash-is-present");
    }

});

</script>

{% endblock %} 

{% block head %}

{{ block.super }}

<style type="text/css">
{%  for type in slot_types %}
.slot-type-{{ type.0 }} { width: {{ type.1 }}px; }
{% endfor %}
</style>

{% endblock %}

{% block bodyclass %}
<body class="profile">
{% endblock %} 

{% block content %}  

<div class="span10">
<h2>Health Profile</h2>
<div class="profile_summary clearfix">
	<div class="place_profile">{{place.profile|safe}}</div>
	<div id="place_map"></div>
	<a class="profile_print" href="JavaScript:window.print();"><img src="/static/img/print71x29.jpg" /></a>
</div>

<div class="profile-visualizations">
{% if slots.count %}

<div class="row-of-visualizations clearfix">{# new_row or not #}
{% for slot in slots %}
{% if not forloop.first and slot.new_row %}</div>
<div class="row-of-visualizations clearfix">
{% endif %}
{% if slot.new_row and slot.title %}<h2>{{ slot.title }}</h2>{% endif %}

{% with vis=slot.visualization %}
<div class="visualization-wrapper profile-slot-{{ slot.name|slugify }} slot-type-{{ slot.slot_type|slugify }}">
{% if slot.vistitle %}<h3>{{ slot.vistitle }}</h3>{% endif %}
{% if vis %}
  <div id="profile-swf-div-{{ forloop.counter0 }}"
   class="swfobject-container-div profile-slot-{{ slot.name|slugify }} slot-type-{{ slot.slot_type|slugify }}">
<p class="if-no-flash">Please install the
<a href="http://get.adobe.com/flashplayer/">Adobe Flash Player</a>
to interact with this visualization.</p>
  </div>
{% endif %}
{% if slot.description %}<div class="meta">{{ slot.description|safe }}</div>{% endif %}
</div>
{% endwith %}



{% endfor %}
</div>

{% else %}

<div>There are no visualization slots available for this page.</div>

{% endif %}
</div>

</div>
{% endblock %} 


{% block javascript %}
  {{ block.super }}
  {% include "masshealth/_map_inc.html" %}
  <script type="text/javascript">

    // background layers
    var basemap = new L.MAPCTileLayer("basemap");
    
    // map
    var boston = new L.LatLng(42.357778, -71.061667);
    var map = new L.Map("place_map",{
        minZoom: 6,
        maxZoom: 17,
        zoomControl: false,
        dragging: false,
        attributionControl: false
    })
    .setView(boston, 9)
    .addLayer(basemap);

    {% if GDAL_AVAILABLE %}
    // add place overlay
    var place = new L.GeoJSON({{ place.geometry.geojson|safe }}, {
        style: {
            "weight": 1,
            "opacity": 0.9,
            "color": "#F35A20",
            "fillOpacity": 0.4
        }
    });
    map.addLayer(place);
    map.fitBounds(place.getBounds());
    {% endif %}


  </script>


{% endblock %}
